statusy.app {
    tls {
        dns cloudflare {env.CLOUDFLARE_API_TOKEN}
    }
    
    log {
        level DEBUG
    }

    reverse_proxy /api/* localhost:8080
	reverse_proxy localhost:3000
    encode zstd gzip 
}