statusy.app {
    tls {
        dns cloudflare {env.CLOUDFLARE_API_TOKEN}
    }
    
    log {
        level DEBUG
    }

    reverse_proxy /api/* backend:8081
    reverse_proxy frontend:3000
    encode zstd gzip 
}